{% set dateTime = event.startAt.utc %}

<div class="event-time">
  <time datetime="{{dateTime}}">{{dateTime | readableDateTime}}</time>
</div>

{% if event.talks %}

  {% for talk in event.talks %}
    {% include 'talk.njk' %}
  {% endfor %}

{% endif %}
