{% set dateTime = event.startAt.utc %}

<div class="featured-event">
  <time datetime="{{dateTime}}">{{dateTime | readableDateTime}}</time>
  <h3>{{event.title}}</h3>
  <div class="lead">{{event.overview | safe}}</div>

  {% include "add-to-calendar.njk" %}

  {% if event.talks %}
    {% for talk in event.talks %}
      {% include 'talk.njk' %}
    {% endfor %}
  {% endif %}
</div>
