{% set data = event.data.event %}
{% set dateTime = data.startAt.utc %}

<div class="featured-event">
  <time datetime="{{dateTime}}">{{ dateTime | readableDateTime }}</time>
  <h3>{{data.title}}</h3>
  <div class="lead">{{data.overview | safe}}</div>

  {% include "add-to-calendar.njk" %}

  {% if data.talks %}
    {% for talk in data.talks %}
      {% include 'talk.njk' %}
    {% endfor %}
  {% endif %}
</div>
