<section class="bg-grey">
  <div class="container flow">
    <h2>How do I register?</h2>
    <p class="lead"><strong>You don't!</strong></p>
    <p>
      We weren't interested in the corporate idea of collecting registration
      information. Instead, we share the zoom link via the
      <a href="#next-event">calendar event</a>, in an event on our
      <a
        href="https://calendar.google.com/calendar/u/0?cid=ZDN1aDgzbzJhMXBsYmt2NGJqMWxoMWQ0YjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
        >public calendar</a
      >, in an <a href="#newsletter">email</a> on the day of, and in the
      <a href="https://www.11ty.dev/news/discord/">11ty discord</a> on the day
      of.
    </p>
  </div>
</section>
