{% set person = talk.speaker %}

<article class="talk-card">
  <h4>
    <span>{{talk.title}}</span>
    {% if person.headshotSrc %}
    <img class="headshot" src="{{person.headshotSrc}}" width="150" height="150" alt="">
    {% endif %}
  </h4>
  {{talk.description | safe}}

  {% if talk.youtube %}
    {% set videoTitle = talk.title %}
    {% set videoId = talk.youtube %}
    {% include 'youtube.njk' %}
  {% endif %}

  {% if person %}
  {% include 'person-no-photo.njk' %}
  {% endif %}
</article>
