<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Grab title from the page data and dump it here -->
  <title>{{ title or (renderData and renderData.title) }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid&display=swap" rel="stylesheet">
  <link rel="alternate" href="https://11tymeetup.dev/feed.xml" type="application/atom+xml" title="Atom 1.0">
</head>
<body>
  {{ content | safe }}

  {% include 'footer.njk' %}
</body>
</html>
