---
layout: layouts/base.njk
---
<header>
  {% include 'nav.njk' %}

  <section class="dark-bg">
    <div class="container">
      <h1>{{title}}</h1>
      <p class="lead">{{description | safe}}</p>
    </div>
  </section>
</header>

<main>
  {{ content | safe }}
</main>
