---
layout: layout.njk
title: Eleventy Meetup
description: Join us to learn more about Eleventy!
---

<h1>Eleventy Meetup</h1>
<p>Join us to learn more about Eleventy!</p>

<p>Sign up to get new event announcements:</p>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/EleventyMeetup"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/EleventyMeetup', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>
