:root {
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-accent: "Londrina Solid", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --red-0: rgb(254, 252, 251);
  --red-10: rgb(245, 209, 207);
  --red-20: rgb(238, 165, 161);
  --red-30: rgb(233, 117, 111);
  --red-40: rgb(206, 61, 59);
  --red-default: rgb(206, 61, 59);
  --red-50: rgb(161, 53, 45);
  --red-60: rgb(110, 38, 29);
  --red-70: rgb(66, 22, 14);

  --grey-0: rgb(252, 252, 252);
  --grey-10: rgb(220, 217, 217);
  --grey-20: rgb(158, 101, 101);
  --grey-30: rgb(162, 149, 148);
  --grey-40: hsl(0, 8%, 52%);
  --grey-default: hsl(0, 8%, 52%);
  --grey-45: hsl(0, 7%, 43%);
  --grey-50: hsl(0, 7%, 37%);
  --grey-60: rgb(69, 60, 60);
  --grey-70: rgb(40, 35, 34);

  --teal-0: rgb(242, 255, 253);
  --teal-10: rgb(5, 243, 224);
  --teal-20: rgb(4, 217, 196);
  --teal-default: rgb(4, 217, 196);
  --teal-30: rgb(2, 170, 154);
  --teal-40: rgb(1, 135, 123);
  --teal-50: rgb(1, 102, 93);
  --teal-60: rgb(0, 71, 65);
  --teal-70: rgb(0, 41, 38);

  --pink-default: #f25774;
  --yellow-default: #f5ec6d;

  --gradient: linear-gradient(
    4deg,
    var(--yellow-default) 0%,
    var(--teal-default) 40%,
    var(--pink-default) 74%,
    var(--red-default) 100%
  );

  --white: var(--grey-0);

  --size-200: 0.64rem;
  --size-300: 0.8rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.563rem;
  --size-700: 1.953rem;
  --size-800: 2.441rem;
  --size-900: 3.052rem;
}
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 100%;
} /*16px*/
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--grey-60);
}
p {
  margin-bottom: 1rem;
}
.lead {
  color: var(--grey-50);
  font-size: var(--size-500);
}
p + h3 {
  margin-top: 2em;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.3;
  font-family: var(--font-accent);
}
h1 {
  margin-top: 0;
  font-size: clamp(var(--size-900), 5vw, 4rem);
}
h1.title {
  margin-top: var(--size-800);
}
h2 {
  font-size: var(--size-900);
}
h3 {
  font-size: var(--size-700);
  color: var(--teal-40);
}
h4 {
  font-size: var(--size-600);
}
h5 {
  font-size: var(--size-500);
}
small,
.text_small {
  font-size: var(--size-300);
  line-height: 1.7;
  display: block;
}

body {
  background-color: var(--white);
  font-family: var(--font-primary);
  line-height: 1.5;
}

.dark-bg {
  background-color: var(--grey-70);
  color: var(--white);
  padding: 2em 1em;
}
.dark-bg h1 {
  color: var(--white);
}
.dark-bg .lead {
  color: var(--white);
}

.container {
  margin: 0 auto;
  max-width: 632px;
  padding: var(--size-900) 16px;
}

section {
  padding: 2em 1em;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.person-card {
  display: grid;
  gap: 1.5em;
  grid-template-columns: auto 1fr;
  margin: 1.5em; /* fallback */
  margin: 1.5rem min(1.5rem, 3vw);
}
.person-no-photo-card {
  margin-top: 2rem;
}
img.headshot {
  border: 5px solid var(--yellow-default);
  border-radius: 50%;
  height: auto;
  width: 100px; /* fallback */
  width: min(100px, 15vw);
}
.person-card h3,
.person-no-photo-card h3 {
  display: flex;
  color: var(--grey-50);
  font-family: var(--font-primary);
  font-size: var(--size-400);
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 0.5em;
}
.person-no-photo-card h3 {
  margin-top: 1.5em;
}
.person-card h3::after {
  content: "";
  background: var(--gradient);
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
}
.person-card svg {
  margin-left: 0.5rem;
}

a {
  color: var(--red-40);
}
.dark-bg a:not(.button) {
  color: var(--red-30);
}

a:hover {
  color: var(--red-30);
}
.dark-bg a:not(.button):hover {
  color: var(--red-20);
}

.vertical-center {
  display: flex;
  align-items: center;
}
button,
.button {
  background-color: var(--red-default);
  border: none;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-accent);
  padding: 8px 16px;
  text-decoration: none;
}
.button svg {
  margin-right: 8px;
}
button:hover,
.button:hover {
  background-color: var(--red-30);
  color: var(--white);
}
.button-small {
  font-size: var(--size-300);
  padding: 4px 8px;
}
.button-grey {
  background-color: var(--grey-45);
}
.button-grey:hover {
  background-color: var(--grey-30);
}
.action-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.button-link {
  background-color: var(--white);
  color: var(--red-default);
  font-family: var(--font-primary);
  font-size: var(--size-300);
  font-weight: 700;
}
.button-link:hover {
  background-color: var(--white);
  color: var(--red-30);
}

article.event {
  /* border: 1px solid blue; */
  margin: 3rem 0;
}
time {
  color: var(--grey-50);
  font-weight: bold;
  font-size: var(--size-300);
  text-transform: uppercase;
}
.event-time {
  display: grid;
  justify-items: start;
  margin-top: 8vh;
}
.event-time time {
  font-size: var(--size-600);
}
.event-time .button-link {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
article.event h2 {
  font-size: var(--size-600);
  margin: var(--size-200) 0;
}

.featured-event h3,
.featured-event .lead {
  margin: 0;
}
.talk-card {
  margin: 5rem 0 0 max(5vw, 2rem);
  position: relative;
}
.talk-card .headshot {
  border-color: var(--red-default);
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 75px;
  z-index: 2;
}
.talk-card h4 {
  padding-bottom: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.talk-card h4 span {
  display: inline-block;
  max-width: calc(100% - 80px);
}
.talk-card h4::after {
  content: "";
  background: var(--gradient);
  height: 5px;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: calc(100% - 35px);
}

input,
label {
  display: block;
}
label {
  font-weight: 700;
}
input {
  border: 1px solid var(--grey-20);
  color: var(--grey-80);
  display: block;
  font-family: var(--font-primary);
  font-size: var(--size-400);
  /* margin: 4px 0; */
  padding: 4px;
  width: 100%;
}

/* Nav */
nav {
  background-color: var(--grey-70);
  position: relative;
}
nav::after {
  content: "";
  background: var(--gradient);
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
}
nav ul {
  margin: 0 16px;
  text-align: right;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 16px 0;
  text-align: center;
}
nav li a {
  color: var(--red-20);
  font-family: var(--font-accent);
  /* letter-spacing: 1px; */
  padding: 16px;
  text-decoration: none;
}
nav li a:hover {
  color: var(--red-10);
}
nav li a.active {
  font-weight: 700;
}
header {
  position: relative;
}
header::after {
  content: "";
  background: var(--gradient);
  height: 4px;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
}

.sponsors {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 2rem 0;
}

/* Footer */
footer {
  position: relative;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer::before {
  content: "";
  background: var(--gradient);
  height: 8px;
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 30px 1fr;
  margin: 12px 0;
}
footer svg {
  color: var(--teal-default);
}

/* Header Possum */
.elv-possum-anchor {
  display: block;
}
main {
  overflow: hidden;
  margin-bottom: 8vh;
  position: relative;
}
.elv-possum {
  position: absolute;
  /* pointer-events: none; */
  width: 70px;
  height: auto;
  top: 250px;
  left: 1vw;
  right: auto;
  animation-duration: 180s;
  animation-name: balloonFloat;
  animation-fill-mode: forwards;
  transition: 0.3s opacity ease-out;
}

/* lite-youtube-embed */

lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  max-width: 720px;
}

/* gradient */
lite-youtube::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
  width: 68px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: transparent;
  /* YT's actual play button svg */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
  filter: grayscale(100%);
  transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
  filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
  cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

.lyt-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-reduced-motion: reduce) {
  .elv-possum {
    animation-duration: 0s;
  }
}
@keyframes balloonFloat {
  from {
    transform: translate(-7vw, 30%);
  }
  to {
    transform: translate(100vw, -52%);
  }
}

@media screen and (min-width: 450px) {
  html {
    font-size: 112.5%;
  } /*18px*/
  .sponsors {
    grid-template-columns: 1fr 1fr;
  }
}
